@import "../../../styles/variables.scss";
@import "../../../styles/mixins";

.container {
  border-radius: 0.8rem;
  background: white;
  padding: 3.2rem;
  @include tablet() {
    padding: 4.8rem;
    width: 54rem;
  }
  .title {
    margin-top: 2.4rem;
    max-width: 28rem;
    @include tablet() {
      margin-top: 3.3rem;
    }
  }
  .description {
    margin-top: 1.6rem;
    @include tablet() {
      margin-top: 2.4rem;
    }
  }
  .summary {
    display: flex;
    flex-direction: column;
    margin-top: 2.4rem;
    @include tablet() {
      flex-direction: row;
      margin-top: 3.3rem;
    }
    .left {
      padding: 2.4rem;
      flex: 1;
      background: $secondary-300;
      border-radius: 0.8rem 0.8rem 0 0;
      @include tablet() {
        border-radius: 0.8rem 0 0.8rem 0.8rem;
      }
      .products {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        .product {
          display: flex;
          justify-content: space-between;
          font-weight: 700;
          line-height: 2.5rem;
          gap: 1.6rem;
          .imageBox {
            position: relative;
            width: 5rem;
            height: 5rem;
          }
          .info {
            .name {
              font-size: 1.5rem;
            }
            .price {
              font-size: 1.4rem;
              opacity: 0.5;
            }
          }
          .quantity {
            margin-left: auto;
            font-size: 1.5rem;
            opacity: 0.5;
          }
        }
      }
      .line {
        height: 0.1rem;
        opacity: 0.08;
        background: black;
        margin-top: 1.6rem;
      }
      .viewAll {
        cursor: pointer;
        margin-top: 1.2rem;
        color: #000;
        font-size: 1.2rem;
        font-weight: 700;
        opacity: 0.5;
        text-align: center;
        &:hover {
          color: $primary-200;
          opacity: 1;
        }
      }
    }
    .right {
      background: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 4rem 3.2rem;
      border-radius: 0 0 0.8rem 0.8rem;
      gap: 1.2rem;
      @include tablet() {
        gap: 0.8rem;
        border-radius: 0 0.8rem 0.8rem 0;
        width: 20rem;
      }
      &.viewAll {
        justify-content: flex-end;
      }
      .label {
        color: #fff;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 25px;
        opacity: 0.5;
        text-transform: uppercase;
      }
      .amount {
        color: #fff;
        font-size: 1.8rem;
        font-weight: 700;
      }
    }
  }
  .button {
    display: flex;
    flex-direction: column;
    margin-top: 2.4rem;
    @include tablet() {
      margin-top: 4.8rem;
    }
  }
}
