@import "../../styles/variables.scss";

.hero {
  padding: 18rem 0 10rem 0;
  background-color: black;
  .title {
    color: white;
    text-align: center;
  }
}
.container {
  max-width: 111rem;
  margin: 0 auto;
  margin-top: 16rem;

  .products {
    display: flex;
    flex-direction: column;
    gap: 16rem;
    margin: 0 auto;
    .product {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .content {
        max-width: 44rem;
        .overline {
          margin-bottom: 1.6rem;
        }
        .description {
          margin-top: 3.2rem;
        }
        .button {
          margin-top: 4rem;
        }
      }
      .imageBox {
        position: relative;
        width: 54rem;
        height: 56rem;
        .image {
          border-radius: 0.8rem;
        }
      }
      &:nth-child(even) {
        flex-direction: row-reverse;
      }
    }
  }
  .categories {
    margin-top: 15rem;
  }
}
