@import "../../styles/variables.scss";
@import "../../styles/mixins";

.container {
  max-width: 111rem;
  display: flex;
  flex-direction: column;
  margin: 1.6rem 2.4rem 0 2.4rem;
  gap: 8.8rem;
  @include tablet() {
    margin: 3.3rem 4rem 0 4rem;
    gap: 12rem;
  }
  @include desktop() {
    gap: 16rem;
    margin: 8rem auto 0 auto;
  }
  .product {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.4rem;
    flex-direction: column;
    gap: 4rem;
    @include tablet {
      gap: 7rem;
      flex-direction: row;
    }
    @include desktop() {
      margin-top: 5.6rem;
      gap: 0;
      justify-content: space-between;
    }
    .content {
      @include desktop() {
        max-width: 44rem;
      }
      .overline {
        margin-bottom: 1.6rem;
      }
      .name {
        @include tablet() {
          font-size: 2.8rem;
        }
        @include desktop() {
          font-size: 4rem;
        }
      }
      .description {
        margin-top: 3.2rem;
        @include tablet() {
          max-width: 34rem;
        }
        @include desktop() {
          max-width: none;
        }
      }
      .price {
        margin-top: 3.2rem;
        color: #000;
        font-size: 1.8rem;
        font-weight: 700;
        letter-spacing: 1.286px;
      }
      .buttons {
        margin-top: 3.2rem;
        @include desktop() {
          margin-top: 4.7rem;
        }
        display: flex;
        gap: 1.6rem;
      }
    }
    .imageBox {
      position: relative;
      width: 33rem;
      height: 33rem;
      @include tablet() {
        width: 28rem;
        height: 48rem;
      }
      @include desktop() {
        width: 54rem;
        height: 56rem;
      }
      .image {
        border-radius: 0.8rem;
      }
    }
  }
  .details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 12rem;
    @include desktop() {
      gap: 0;
      flex-direction: row;
    }
    .features {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
      @include desktop() {
        max-width: 63rem;
      }
    }
    .inBox {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 2.4rem;
      @include tablet() {
        gap: 8rem;
        flex-direction: row;
      }
      @include desktop() {
        flex-direction: column;
        gap: 3.2rem;
        width: 35rem;
      }
      .includes {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        .include {
          display: flex;
          gap: 2.4rem;
          align-items: center;
          .quantity {
            color: $primary-200;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 2.5rem;
          }
        }
      }
    }
  }
  .gallery {
    display: grid;
    gap: 2.4rem;
    margin: 0 auto;
    grid-template: 18rem 18rem 33rem / 37rem;
    @include tablet() {
      grid-template: 17rem 17rem / 28rem 37rem;
      gap: 1.8rem;
    }
    @include desktop() {
      grid-template: 28rem 28rem / 44rem 63.5rem;
      gap: 3.2rem;
    }
    .galleryImage {
      position: relative;
      .image {
        border-radius: 0.8rem;
      }
      &.big {
        @include tablet() {
          grid-row-start: 1;
          grid-row-end: 3;
          grid-column-start: 2;
        }
      }
    }
  }
  .related {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    @include tablet() {
      gap: 5.6rem;
    }
    @include desktop() {
      gap: 6.4rem;
    }
    .list {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 5.6rem;
      @include tablet() {
        flex-direction: row;
        gap: 1rem;
      }
      @include desktop() {
        gap: 3rem;
      }
      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3.2rem;
        @include tablet() {
          gap: 4.2rem;
        }
        @include desktop() {
          gap: 3.6rem;
        }
        .imageContainer {
          position: relative;
          width: 33rem;
          height: 12rem;
          @include tablet() {
            width: 22rem;
            height: 32rem;
          }
          @include desktop() {
            width: 35rem;
            height: 32rem;
          }
          .image {
            border-radius: 0.8rem;
          }
        }
      }
    }
  }
  .categories {
    margin-top: 5rem;
  }
}
