@import "../../styles/variables.scss";
@import "../../styles/_mixins.scss";

.button {
  user-select: none;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  padding: 1.5rem 3.15rem;
  &.primary {
    background-color: $primary-200;
    color: $secondary-100;
    &:hover {
      background-color: $primary-100;
    }
  }
  &.secondary {
    background-color: transparent;
    border: 1px solid black;
    color: black;
    &:hover {
      background: black;
      color: white;
    }
  }
  &.secondary-reverse {
    background-color: black;
    color: white;
    &:hover {
      background: #4c4c4c;
    }
  }
  &.tertiary {
    background-color: transparent;
    display: flex;
    opacity: 0.5;
    gap: 1.3rem;
    &:hover {
      color: $primary-200;
      opacity: 1;
    }
  }
}
