@import "../../styles/variables.scss";
@import "../../styles/_mixins.scss";

.button {
  user-select: none;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  padding: 1.5rem 3.15rem;
  &.primary {
    background-color: $primary-200;
    color: $secondary-100;
    &:hover {
      background-color: $primary-100;
    }
  }
  &.secondary {
    background-color: white;
    border-color: 1px solid black;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: black;
    &:hover {
      background: black;
      color: white;
    }
  }
  &.secondary-reverse {
    background-color: black;
    border-color: 1px solid white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    &:hover {
      background: #4c4c4c;
    }
  }
  &.tertiary {
    background-color: transparent;
    display: flex;
    opacity: 0.5;
    gap: 1.3rem;
  }
}
