@import "../../styles/variables.scss";
@import "../../styles/_mixins.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  padding-bottom: 5rem;
  .box {
    border-radius: 0.8rem;
    display: flex;
    .image {
      position: relative;
    }
    &.first {
      overflow: hidden;
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
      background-color: $primary-200;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 6.4rem 0 5.2rem 0;
      @include desktop() {
        height: 56rem;
        padding: 0;
      }
      .circle,
      .circle::after,
      .circle::before {
        border-radius: 50%;
        position: absolute;
        border: 1px solid rgba(255, 255, 255, 1);
      }
      .circle {
        animation: expand 2s ease-in infinite;
        opacity: 1;
        @keyframes expand {
          0% {
            transform: scale(0);
          }
          80% {
            opacity: 1;
          }
          to {
            transform: scale(1);
            opacity: 0;
          }
        }
        width: 47rem;
        height: 47rem;
        left: 50%;
        translate: -50%;
        top: 0;
        @include desktop() {
          top: unset;
          bottom: -10rem;
          left: 10rem;
          translate: none;
        }
        &::before,
        &::after {
          content: "";
          width: 55rem;
          height: 55rem;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &::after {
          width: 90rem;
          height: 90rem;
        }
      }
      .image {
        filter: drop-shadow(0px 4px 4px rgb(0, 0, 0));
        animation: bounce 1s ease alternate-reverse infinite;
        @include tablet() {
          width: 20rem;
          height: 24rem;
          translate: 0 -2rem;
        }
        @include desktop() {
          width: 37rem;
          height: 49rem;
          position: absolute;
          bottom: -2rem;
          left: 14rem;
          transform: translateY(-2rem);
        }
        @keyframes bounce {
          to {
            translate: 0 0;
          }
        }
      }
      .content {
        margin-top: 6.4rem;
        text-align: center;
        max-width: 35rem;
        @include desktop() {
          text-align: left;
          top: 50%;
          transform: translateY(-50%);
          right: 9.5rem;
          position: absolute;
        }
        .title {
          color: white;
        }
        .description {
          color: white;
          margin-top: 2.4rem;
          opacity: 0.75;
        }
        .button {
          margin-top: 4rem;
        }
      }
    }
    &.second {
      display: flex;
      align-items: center;
      height: 32rem;
      background: #f1f1f1;
      padding-left: 2.5rem;
      @include tablet() {
        padding-left: 4.2rem;
      }
      @include desktop() {
        padding-left: 9.5rem;
      }
      .content {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
      }
      .image {
        position: absolute;
        left: 0;
        border-radius: 0.8rem;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &.third {
      width: 100%;
      display: flex;
      gap: 1rem;
      justify-content: center;
      flex-direction: column;
      @include tablet() {
        flex-direction: row;
      }
      @include desktop() {
        gap: 3rem;
      }
      .content {
        padding-top: 4.1rem;
        padding-bottom: 4.1rem;
        border-radius: 0.8rem;
        padding-left: 4.5rem;
        background: #f1f1f1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        gap: 3.2rem;
        @include tablet() {
          padding-top: 0;
          padding-bottom: 0;
        }
        @include desktop() {
          padding-left: 9.5rem;
        }
      }
      .image {
        flex: 1;
        height: 30rem;
        border-radius: 0.8rem;
      }
    }
  }
}
