@import "../../styles/variables.scss";
@import "../../styles/_mixins.scss";

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  .overlay {
    position: absolute;
    overflow-x: hidden;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: #181818;
    .background {
      object-fit: cover;
    }
  }
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include desktop() {
      align-items: flex-start;
      text-align: left;
    }
    gap: 1.8rem;
    width: 100%;
    max-width: 111rem;
    .overline {
      color: $secondary-100;
      opacity: 0.5;
    }
    .title {
      color: $secondary-100;
      width: 40rem;
    }
    .subtitle {
      color: $secondary-100;
      width: 35rem;
      opacity: 0.75;
      line-height: 2.5rem;
    }
  }
}
