@import "../../styles/variables.scss";
@import "../../styles/_mixins.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  @include tablet() {
    flex-direction: row;
    gap: 1rem;
  }
  @include desktop() {
    gap: 3rem;
  }
  .box {
    border-radius: 0.8rem;
    background: $secondary-300;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 29rem;
    @include tablet {
      width: 35rem;
    }
    .image {
      width: 18rem;
      margin-top: -6rem;
    }
    .label {
      text-align: center;
      font-weight: 700;
      color: black;
      text-transform: uppercase;
    }
  }
}
