@import "../../../styles/variables.scss";
@import "../../../styles/_mixins.scss";

.container {
  background-color: white;
  padding: 3.3rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  border-radius: 0.8rem;
  width: 100%;
  @include tablet() {
    width: 41rem;
  }
  .header {
    display: flex;
    justify-content: space-between;
    .clear {
      text-decoration: underline;
      font-weight: 500;
      font-size: 1.5rem;
      opacity: 0.5;
      cursor: pointer;
      &:hover {
        opacity: 1;
        color: $primary-200;
      }
    }
  }
  .products {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    .product {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 3rem;
      @include tablet() {
        gap: 6rem;
      }
      .info {
        display: flex;
        gap: 1.6rem;
        align-items: center;
        .imageBox {
          position: relative;
          width: 6.4rem;
          height: 6.4rem;
          .image {
            border-radius: 0.8rem;
          }
        }
        .label {
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 2.5rem;
        }
        .price {
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 2.5rem;
          opacity: 0.5;
        }
      }
    }
  }
  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .label {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 2.5rem;
      opacity: 0.5;
      text-transform: uppercase;
    }
    .amount {
      font-size: 1.8rem;
      font-weight: 700;
    }
  }
}
